:host {
	@include flex();
	width: 100%;
	z-index: 501;
}
.container {
	@include display-5();
	@include flex();
	@include center();
	@include middle();
	width: 100%;
	background-color: #404040;
	color: $color-white;
}
.sub-container {
	@include row();
	@include between();
	@include middle();
	height: 65px;
	flex-basis: 83.333%
}
.left {
	@include middle();
}
slot[name="tag"] {
	margin-bottom: 4px;
}
slot[name="expression"] {
	font-weight: $font-weight-normal;
}
slot[name="tag"],
slot[name="expression"] {
	display: flex;
	width: 100%;
}
